@use '../../sass/variables' as v;

.header {
	padding: 20px;
	background-color: v.$color-primary;
	position: relative;

	.header__container {
		display: flex;
		justify-content: center;
		align-items: center;

		.logo__container {
			display: flex;
			gap: 10px;
			align-items: center;

			img {
				width: 50px;
				border-radius: 12px;
			}

			span {
				color: #fff;
				font: {
					size: 24px;
					weight: bold;
				}
			}
		}

		.account__container {
			button {
				img {
					cursor: pointer;
					position: absolute;
					top: 25px;
					right: 25px;
					width: 40px;
				}
			}
		}
	}
}

.main {
	.message {
		font: {
			size: 18px;
			weight: bold;
		}

		text-align: center;
		margin: 50px 0;
	}

	div {
		display: flex;

		.busqueda {
			display: flex;
			gap: 30px;
			flex-direction: column;
			width: 35vw;
			height: max-content;
			padding: 0 20px;

			.input__buscar {
				padding: 10px;
				border: 1px solid #000;
				border-radius: 4px;
				font-size: 14px;
			}

			.busqueda__id {
				display: flex;
				align-items: center;
				gap: 8px;

				span {
					font: {
						size: 14px;
						weight: bold;
					}
				}

				input[type='number'] {
					width: 80px;
					border-bottom: 1px solid #000;
				}
			}

            .rango__container {
                display: flex;
                justify-content: space-between;
                align-items: end;

                p {
                    font-size: 15px;
                }

                .precios__container {

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    input {
                        width: 8vw;
                    }
                }
            }

            .stock__container {
                display: flex;
                gap: 8px;

                span {
					font: {
						size: 14px;
						weight: bold;
					}
				}
            }

			.btn__buscar {
				cursor: pointer;
				background-color: v.$color-primary;
				padding: 15px 0;
				border-radius: 10px;
				color: #fff;
				transition: background-color .5s;
				font: {
					size: 16px;
					weight: bold;
				}

				&:hover {
					background-color: v.$color-hover;
				}
			}

			.btn__comprar {
				cursor: pointer;
				background-color: #0f0;
				padding: 15px 0;
				border-radius: 10px;
				color: #fff;
				transition: background-color .5s;
				font: {
					size: 16px;
					weight: bold;
				}

				&:hover {
					background-color: #00d000;
				}
			}
		}

		.productos__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 30px 0;
			width: 65vw;
			height: calc(100vh - 252px);
			background-color: #d9d9d9;
			overflow: auto;
			padding: 20px;
		}
	}
}