.card__container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    width: 180px;
    height: min-content;
    background-color: #fff;
    border-radius: 14px;

    &:hover {
        cursor: pointer;
        background-color: #fffc;
    }

    .data {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .price {
        width: 100%;
        display: flex;
        justify-content: right;
        color: #04B400;
        font-weight: bold;
    }

    img {
        width: 100px;
    }
}